body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color:#6C69AC ;
    padding-left: 35%;
    padding-top: 10%;
  }
  .calcu{
    text-align: center;
  }
  
  .calculator {
    background-color:#7270AA ;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    text-align: right;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color:#C1C0DA ;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #a19aab;
  }
  
  .operator {
    background-color: #f0f0f0;
    color: #683a9d;
    font-weight: bold;
  }
  